body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  
}
#nav {
  margin-top: 40px;
  background-color: rgb(59, 106, 194);
  margin: 150px 275px 10px 290px;
  padding: 0px;
  color: white;
  justify-content: center;
  height: 80px;
}
h1 {
  font-size: 50px;
}

.container-1 {
  margin: 20px 300px 0px 300px;
  height: 100%;
}

.col-3 {
  background: transparent;
  display: inline-block;
  color: #000000;
  width: 100%;
  padding:15px 20px 0 0;  
}
#city-header {
 float: left;
 font-size: 30px;
}
#input-city {
  width:100%;
  margin-top: 10px;
  border-radius: 5px;
  height:50px;
  text-align: center; 
}

li{
  width:100%;
  margin-top: 10px;
  border-radius: 5px;
  color:white;
  background-color: rgba(162, 169, 173, 0.911);
  height:50px;
  text-align: center;
  justify-content: center;

}

hr{
  height:1.5px;
  background-color: grey;
  color: grey;
}

.row { 
  margin-left: 0px;

}

.d-block {
  width:100%;
  padding:0;
  height:40px;
  border-radius: 5px;
  margin-top: 15px;
  color: white;
  background-color: rgb(93, 168, 253);
}

.col-9 {
  height: 800px;
  max-height: min-content;
  width: 100%;
}

#today-forecast {
  border: 1px solid black;
 margin: 0;
}

.row-week {
  margin-top: 18px;
  width: 100%;

}

.card{
  color: white;
  background-color: rgba(17, 46, 68, 0.87);
  border-radius: 0;
  width: 220px;
  height: 270px;
  padding: 10px;
}

img {
  max-width: 40%;
  height: auto;
  padding-bottom: 20px;
}


.clickable{
  cursor: pointer;
}

.no-padding{
  padding-left: 0;
}

.ul-no-dots{
  list-style: none;
}

.hidden {
  display: none;
}